{% extends "base.html" %}
{% block content %}
    <p id="counter" style="display:none">0</p>

    <script type="text/javascript" src={{ url_for('static', filename='go-debug.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='Figures.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='HyperlinkText.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='DataInspector.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='GeometryReshapingTool.js') }}> </script>
    <link rel="stylesheet" href={{ url_for('static', filename='DataInspector.css') }}/>
    <script type="text/javascript" src={{ url_for('static', filename='LinkLabelOnPathDraggingTool.js') }}> </script>

<script>


</script>



    <p id="modellanzahl" style="display:none">1</p>

    <input id="derTitel" style="margin-bottom:1%;margin-top:5%; margin-left:2%; font-size:large;" type="text" onclick="document.getElementById('titelversender').style.display='inline';" value=" {{ title }}">
    <input id="titelversender" type="button" class=" btn-sm btn-outline-success" value="Titel ändern" onclick="sendetquiztitel();" style="display: none; position:relative; margin-left: 0.2%; font-size: 12px;" >
        <input type="button" id ="savior" class=" btn btn-outline-success" value="Frage speichern" onclick="schickFragen();" style="position:absolute; left: 50%; top:10%;" >
                <input type="button" id ="deletor" class=" btn btn-outline-success" value="Löschen" onclick="deleteQuiz()" style="position:absolute;top:10%; right:5%;" >

            <div id="dieFrage" style="background-color:LightGreen; position:absolute;left:5%;width:90vw;top:18%;height:80vh;border:2px solid whitesmoke;"></div>
               <div id="anfang"></div>


                    <script>




    function sendetquiztitel(){
        var aqui = window.location.href.toString();
        document.getElementById('titelversender').style.display='none';

        var derTitel = document.getElementById("derTitel").value;
        console.log(derTitel);
        let xhr = new XMLHttpRequest();
        //let url = `${window.origin}/saved/${model_id}`;  zum Testen noch drin wie folgende
        xhr.open("POST", aqui, true);
        xhr.setRequestHeader("Content-Type", "text/html;charset=UTF-8");
        xhr.send(derTitel);

}

//Diagramm "manuell" definiert

    var  dieFrage = new go.GraphObject.make(go.Diagram, 'dieFrage');

    function machdiagramme() {

      dieFrage.nodeTemplate = nodeTemplate = jo(go.Node, "Auto",
            jo(go.Shape, "RoundedRectangle",
                {parameter1:50,
                    toLinkable:true,
                    fromLinkable:true,
                    portId:"",
                    fromSpot:go.Spot.Center,
                    toSpot: go.Spot.Center,
                    fill:"#2A3380"}),
            jo(go.Panel, "Auto",
            jo(go.Shape, "RoundedRectangle",
                {fill: "#4866FF",
                    parameter1:42,
                    stroke:"transparent",
            minSize:new go.Size(140,50)}),
            jo(go.Panel, "Vertical",
                {padding:10},
                jo(go.Panel, "Auto",
                jo(go.Shape, "RoundedRectangle",
                    {fill:"red",
                        alignment:new go.Spot(0,1,0,-32),
                        minSize:new go.Size(120,30),
                        opacity:0.5}),
                jo(go.TextBlock, "Frage: ",
                    {alignment:new go.Spot(0,0,0,0)}),
                jo(go.Shape, "Rectangle",
                    {minSize:new go.Size(1, 20),
                        maxSize: new go.Size(1, 42),
                    fill:"transparent", stroke:"transparent"}
                ),
                    jo(go.TextBlock,
            {editable:true,
            maxSize:new go.Size(200,NaN), margin:10},
            new go.Binding("text", "frage").makeTwoWay())
                ),
                jo(go.Shape, "Rectangle",
                    {minSize:new go.Size(1, 10),
                        visible:false,
                        maxSize: new go.Size(1, 12),
                    background:"transparent", stroke:"transparent"}
                ),
                jo(go.Panel, "Auto",
                jo(go.Shape, "RoundedRectangle",
                    {fill:"green",
                        alignment:new go.Spot(0,1,0,-32),
                        minSize:new go.Size(120,30),
                        opacity:0.5}),
                jo(go.TextBlock, "Antwort: ",
                    {alignment:new go.Spot(0,0,0,0)}),
                jo(go.TextBlock,
                    new go.Binding("text","count"),
                    {minSize:new go.Size(1, 20),
                        visible:false,
                        maxSize: new go.Size(1, 42),
                    background:"transparent", stroke:"transparent"}
                ),
                    jo(go.TextBlock,
            {editable:true,
            maxSize:new go.Size(200,NaN), margin:10},
            new go.Binding("text", "antwort").makeTwoWay())
                ),
                jo(go.TextBlock,
                    new go.Binding("text","acc"),

                    {minSize:new go.Size(1, 10),
                        visible:false,
                        maxSize: new go.Size(1, 10),
                    background:"transparent", stroke:"transparent"}
                ),

                            jo("HyperlinkText",
                function (node) {
                    return "/saved/" + parseInt(node.data.id);
                },
                function (node) {
                    return 'Ursprungsdiagramm';
                },
                {margin: 10,
                scale:1,
                alignment:go.Spot.BottomCenter}),


            ))
        );

                        }
                    </script>

        <p></p>

    <script>

//Kleines Easteregg in der Löschenfunktion

    function deleteQuiz(){
        var speicherknopf = document.getElementById("deletor");
        speicherknopf.disabled = true;
        let timerId = setInterval(() => springKnopf(), 400);

        setTimeout(() => { clearInterval(timerId); knopfloeschend() }, 1699);

            }



    function knopfloeschend(){
        var speicherknopf = document.getElementById("deletor");


        speicherknopf.style.top = "10%";
        speicherknopf.style.right = "5%";
        speicherknopf.disabled = false;
        speicherknopf.value = "Endgültig löschen ;)?";
        speicherknopf.onclick = function () {
        loeschquiz();
    }}


    function springKnopf(){
        let dltr = document.getElementById('deletor');
        let x = Math.random()*40+10;
        let y = Math.random()*5+9;
        dltr.style.position ="absolute";
        dltr.style.top=y+"%";
        dltr.style.right=x+"%";

        console.log(dltr.style.top);

        //dltr.style = "position:absolute; top:"+y+"; left:"+x+";"
    }



    function schickFragen() {
        var neueFragen = {'array':[]};
        var imdia = dieFrage.nodes;
        imdia.each(function(co) {
            var zuKnoten = {};
            co= co.part.data;
            zuKnoten.antwort = co.antwort;
            zuKnoten.frage = co.frage;
            zuKnoten.acc = 0.0;
            zuKnoten.count = co.count;
            zuKnoten.id = co.id;
            neueFragen.array.push(zuKnoten);
            zuKnoten={};
        })

                    console.log(neueFragen);

                neueFragen = JSON.stringify(neueFragen);



                          fetch(window.location.href, {
         method: "POST",
         body: neueFragen,
         headers: new Headers({
             "content-type": "application/json"
         })
     }).then((response) => response.text())
         .then(function (response) {

//           console.log('response: ');
//           console.log(response);
            console.log(typeof(response));
            if (response.status !== 200)     {
              //console.log(`Looks like there was a problem. Status code: ${response.status}`);
              return;
            }
       //    console.log('im response block');
       //    console.log(response.text());

            response.text().then(function (data) {
                console.log("hier die daten aus dem komischen response text ding");
                console.log(data);
              //console.log('hier kann noch mehr passieren');
            });
          })
          .catch(function (error) {
            console.log("Fetch error: " + error);
          }); }


function loeschquiz(){
         fetch(window.location.href +'/delete', {
         method: "POST",
         headers: new Headers({
             "content-type": "text/html;charset=UTF-8"
         })
     }).then((response) => response.text())
         .then(function (response) {

            window.location.assign('/erstelltequizze/1');

            if (response.status !== 200)     {
              return;
            }
            response.text().then(function (data) {
            });
          })
          .catch(function (error) {
            console.log("Fetch error: " + error);
          });
}




    function modellbearbeitung() {
        var ma = document.getElementById("mehrChildren");
      var a = document.createElement('a');
      var linkText = document.createTextNode("Abfrage");
      a.appendChild(linkText);
      a.title = "Abfrage";
      a.class="nav-item nav-link";
      a.style=" position:absolute; left:50%; top:28%";
      a.href = window.location.href +"/abfrage";


        //erweitern führt zum Fragen aus Modell portierung
      var ab = document.createElement('a');
      var linkText = document.createTextNode("Erweitern");
      ab.appendChild(linkText);
      ab.title = "Erweitern"
      ab.class="nav-item nav-link";
      ab.style="position:absolute; left:55%; top:28%";
      ab.href = window.location.href +'/1';

      ma.appendChild(a);
      ma.appendChild(ab);

    }

    //macht Fragen aus Diagrammdaten
    function machFragen() {
        quizdaten = [];

      allesPaletti.nodes.each(function(e) {
                    var ey = e.part.data;
                    var quizfrage = {'count': 0, 'acc':0.5, 'id':thisid};
                        quizfrage.frage = 'Was wissen sie noch zu:  \n' + ey.frage + '?';
                        quizfrage.antwort = ey.antwort;
                        quizfrage.typ = 'text';
                    quizdaten.push(quizfrage);
                    quizfrage = {};
                if(ey.info) {

                    var quizfrage = {'count': 0, 'acc':0.5, 'id':thisid};

                    for (e in ey.info) {
                        quizfrage.count = 0;
                        quizfrage.acc = 0.5;
                        quizfrage.id=thisid;
                        quizfrage.frage = 'Was wissen sie noch zu:  \n' + ey.info[e].text + '?';
                        quizfrage.antwort = ey.info[e].mehr[0];
                        quizfrage.typ = 'mchoice';
                        quizdaten.push(quizfrage);
                        quizfrage ={}
                    }
                }

            });
    }


    function getJSON(){
        var thisid = window.location.href.toString();

    let request = new XMLHttpRequest();
    request.open("GET", url=thisid);
    request.setRequestHeader("Content-Type", "application/json");
    request.addEventListener('load', function (event) {
        console.log(this.responseText);

        if ((JSON).parse(this.responseText)) {

            var model_json = JSON.parse(this.responseText);

            if (model_json.array) {
                for (var i = 0; i < model_json.array.length; i++) {
                    var co = model_json.array[i];
                    var zuKnoten = {};
                    zuKnoten.antwort = co.antwort;
                    zuKnoten.frage = co.frage;
                    zuKnoten.acc = co.acc;
                    zuKnoten.count = co.count;
                    zuKnoten.id = co.id;


                    dieFrage.model.addNodeData(zuKnoten);
                    zuKnoten = {};

                }
            }
        }

        else {
            console.warn(request.statusText, request.responseText);
        }
    });
    request.send();
    }


    document.addEventListener("DOMContentLoaded", function() {

                machdiagramme();
                getJSON();
                modellbearbeitung();
            });
        </script>

<button id = "butti" type="button" class="btn btn-primary" data-toggle="modal" style="display: none;" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Das Modal für ein temporäres Array -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document" >
      <p id="ident" style="display: none;">0</p>
    <div class="modal-content" style="position:absolute;left:-126%;width:94vw;height:92vh;top:18%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kurzansicht</h5>
          <div id="tempDia" style="background-color:green; position:inherit;left:-4%;width:100%;height:76vh;margin-top:4%;border:2px solid whitesmoke;">

          </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" style="position:relative; bottom:10px;" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        <button type="button" id="tempspeichern" style="position:relative; bottom:10px;" class="btn btn-primary" onclick="sendDatar()">Speichern</button>
      </div>
    </div>
  </div>
</div>







    <script type="text/javascript" src={{ url_for('static', filename='diagramme.js') }}> </script>

{% endblock content %}
