{% extends "base.html" %}
{% block content %}
    <p id="counter" style="display:none">0</p>

    <script type="text/javascript" src={{ url_for('static', filename='go-debug.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='Figures.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='HyperlinkText.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='DataInspector.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='GeometryReshapingTool.js') }}> </script>
    <link rel="stylesheet" href={{ url_for('static', filename='DataInspector.css') }}/>
    <script type="text/javascript" src={{ url_for('static', filename='LinkLabelOnPathDraggingTool.js') }}> </script>



    <p id="modellanzahl" style="display:none">1</p>
    <h1 style="margin-top:3%; margin-left:2%">
        {%   if title %}
                  {{ title}}</h1>
                {% else  %}
                Unbenanntes Modell</h1>
                {% endif %}
        <input type="button" id ="savior" class=" btn btn-outline-success" value="Modell speichern" onclick="schickFragen();" style="position:absolute; left: 50%; top:7%;" >

            <div id="dieFrage" style="background-color:green; position:absolute;left:5%;width:90vw;top:18%;height:80vh;border:2px solid whitesmoke;"></div>
               <div id="anfang"></div>


                    <script>

                    function schickFragen() {
                        console.log(" TODO am besten Fragen mit Fetch an den Server! ");
                    }


                        var  dieFrage = new go.GraphObject.make(go.Diagram, 'dieFrage');

                        function machdiagramme() {

                          dieFrage.nodeTemplate = jo(go.Node, "Auto",
            jo(go.Shape, "RoundedRectangle",
                {parameter1:50,
                    toLinkable:true,
                    fromLinkable:true,
                    portId:"",
                    fromSpot:go.Spot.Center,
                    toSpot: go.Spot.Center,
                    fill:"#2A3380"}),
            jo(go.Panel, "Auto",
            jo(go.Shape, "RoundedRectangle",
                {fill: "#4866FF",
                    parameter1:42,
                    stroke:"transparent",
            minSize:new go.Size(140,50)}),
            jo(go.Panel, "Vertical",
            jo("HyperlinkText",
                function (node) {
                if(node.data.id == "keine") {return }
                else {return "http://127.0.0.1:5000/saved/" + parseInt(node.data.id);}
                },
                function (node) {
                    return 'Ursprung';
                },
                {margin: 10,
                scale:1.5}),

                jo(go.TextBlock,
                    {editable:true},
            new go.Binding("text", "frage").makeTwoWay()),

            jo(go.TextBlock,
            {editable:true},
            new go.Binding("text", "antwort").makeTwoWay())


            ))
        );

                        }
                    </script>


              <script>


              </script>

          </div>
        <p></p>
            </article>

    <script>


    function modellbearbeitung() {
        var ma = document.getElementById("mehrChildren");
      var a = document.createElement('a');
      var linkText = document.createTextNode("Abfrage");
      a.appendChild(linkText);
      a.title = "Abfrage";
      a.class="nav-item nav-link";
      a.style="font-size:large; position:absolute; left:45%; top:30%";
      a.href = window.location.href +"/abfrage";


        //erweitern führt zum Fragen aus Modell portierung
      var ab = document.createElement('a');
      var linkText = document.createTextNode("Erweitern");
      ab.appendChild(linkText);
      ab.title = "Erweitern"
      ab.class="nav-item nav-link";
      ab.style="font-size:large;position:absolute; left:55%; top:30%";
      ab.href = window.location.href; //+"/1";

      ma.appendChild(a);
      ma.appendChild(ab);

    }
    function machFragen() {
        quizdaten = [];

      allesPaletti.nodes.each(function(e) {
                    var ey = e.part.data;
                    var quizfrage = {'count': 0, 'acc':0.5, 'id':thisid};
                    //quizfrage.ja = e.data.hauptInfo;
                    console.log(ey.data);
                        quizfrage.frage = 'Was wissen sie noch zu:  \n' + ey.frage + '?';
                        console.log(quizfrage.frage);
                        quizfrage.antwort = ey.antwort;
                        quizfrage.typ = 'text';
                    quizdaten.push(quizfrage);
                    quizfrage = {};
                if(ey.info) {

                    var quizfrage = {'count': 0, 'acc':0.5, 'id':thisid};

                    for (e in ey.info) {
                        console.log(quizfrage.frage)
                        quizfrage.count = 0;
                        quizfrage.acc = 0.5;
                        quizfrage.id=thisid;
                                            quizfrage.frage = 'Was wissen sie noch zu:  \n' + ey.info[e].text + '?';

                        quizfrage.antwort = ey.info[e].mehr[0];
                        quizfrage.typ = 'mchoice';
                        quizdaten.push(quizfrage);
                        quizfrage ={}
                    }
                }



                        console.log(quizdaten);
            });
    }


    function getJSON(){
        var thisid = window.location.href.toString();
        /*
        thisid = thisid.substring(thisid.lastIndexOf("/")+1,thisid.length);
        console.log(thisid);
        thisid=parseInt(thisid);
return
         */


    let request = new XMLHttpRequest();
    request.open("GET", url=thisid);
    request.setRequestHeader("Content-Type", "application/json");
    request.addEventListener('load', function (event) {
        console.log(this.responseText);

        if ((JSON).parse(this.responseText)) {

            var model_json = JSON.parse(this.responseText);
            console.log(model_json.array[0]);

            if (model_json.array) {
                for (var i = 0; i < model_json.array.length; i++) {
                    var co = model_json.array[i];
                    var zuKnoten = {};
                    zuKnoten.antwort = co.antwort;
                    zuKnoten.frage = co.frage;
                    zuKnoten.acc = co.acc;
                    zuKnoten.count = co.count;
                        zuKnoten.id = co.id;


                    dieFrage.model.addNodeData(zuKnoten);
                    zuKnoten = {};

                }
            }
        }
            //zum Debuggen
            //console.log('Diagramm Data: ');
            //console.log(model_json);
            //Stellt sicher, dass das Diagramm initialisiert wurde
            //läd die Objekttemplates bevor das Modell geladen wird

        //  style_dia();

        else {
            console.warn(request.statusText, request.responseText);
        }
    });
    request.send();

                console.log(thisid);




    }



            document.addEventListener("DOMContentLoaded", function() {

                machdiagramme();
                getJSON();
                //machFragen();

            modellbearbeitung();
            });
        </script>

<button id = "butti" type="button" class="btn btn-primary" data-toggle="modal" style="display: none;" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document" >
      <p id="ident" style="display: none;">0</p>
    <div class="modal-content" style="position:absolute;left:-126%;width:94vw;height:92vh;top:18%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kurzansicht</h5>
          <div id="tempDia" style="background-color:green; position:inherit;left:-4%;width:100%;height:76vh;margin-top:4%;border:2px solid whitesmoke;">

          </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-footer">
        <button type="button" style="position:relative; bottom:10px;" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        <button type="button" id="tempspeichern" style="position:relative; bottom:10px;" class="btn btn-primary" onclick="sendDatar()">Speichern</button>
      </div>
    </div>
  </div>
</div>







    <script type="text/javascript" src={{ url_for('static', filename='diagramme.js') }}> </script>

{% endblock content %}
