{% extends "base.html" %}
{% block content %}

    <script type="text/javascript" src="/static/go-debug.js"> </script>
    <h1>Willkommen, Zeit Wissen zugänglicher zu machen!</h1>

        <label class="infoAblegen content-section" for="dieInfo" type="text">Was wollen sie speichern? </label>
        <input class="infoAblegen content-section"id="dieInfo" type="text" placeholder="Hier eingeben!" >
        <input type="button" id ="senderino" class="btn btn-outline-success" value="Ins Diagram" onclick="addData()" >
   <!--
    Test ob ausgelesen wird
    <script>function func() {alert(document.getElementById("nInfo").value)}</script> -->

    <div>
        <div id="mainDiagram" class = "Diagram">
        </div>
    </div>
          <nav>
             <h2>Navigation</h2>
                <ul>
                    <li><a href="https://www.wikipedia.de">Klassische Wissensdarstellung</a></li>
                </ul>
          </nav>
<div>
Hier sollen einmal Informationen abgelegt werden!
</div>

<script type="text/javascript" src={{ url_for('static', filename='work.js') }}> </script>
{% endblock content %}
