{% extends "base.html" %}
{% block content %}

    <script type="text/javascript" src="/static/go-debug.js"> </script>
  <script type="text/javascript" src={{ url_for('static', filename='GeometryReshapingTool.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='Figures.js') }}> </script>


    <h1>Willkommen, Zeit Wissen zugänglicher zu machen!</h1>

        <div id="mainDiagram" class = " Diagram" style="background-color:red">         </div>


    <p id="dieInfo" style="visibility: hidden">


   <a style="" href="https://www.wikipedia.de">Klassische Wissensdarstellung</a>
</p>

    <script type="text/javascript" src={{ url_for('static', filename='save.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='LinkLabelOnPathDraggingTool.js') }}> </script>
    <script>



    function getDiagramData() {

        let request = new XMLHttpRequest();
        request.open("GET", url="/saved/1111");
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener('load', function (event) {
            if ((JSON).parse(this.responseText)) {
                var model_json = JSON.parse(this.responseText);
                console.log(model_json);
                //console.log(model_json.isJSON());

                if(model_json.nodeDataArray) {


                    //Das Diagramm läd als erste Position den Mittelwert aller Locations
                    //Könnte vielleicht verschoben, aber hier hat man das JSON direkt
                    var ce = [0.0, 0.0];
                                //        let temp = model_json.WOOOOO.loc.split(" ");

                    //ce[0]=mparseFloat(Math.abs(temp[0]));
                    //ce[1]=mparseFloat(Math.abs(temp[1]));



                    nodeNo = 0.0;
                    model_json.nodeDataArray.forEach(function (e) {
                        if (e.loc){
                        let temp = e.loc.split(" ");
                        if (parseFloat(Math.abs(temp[0])) < 10000 && parseFloat(Math.abs(temp[1])) < 10000) {
                            ce[0] += parseFloat(temp[0]);
                            ce[1] += parseFloat(temp[1]);
                            nodeNo = nodeNo + 1.0;
                        }
                    }});

                    //Achtung das folgende ist nur ein Fix weil veraltete Datenbankeinträge
                    // aufgrund ihrer mangelnden Category nicht richtig angezeigt werden!




                    ce[0] /= nodeNo;
                    ce[1] /= nodeNo;
                    modelCenter = ce;


                    console.log(modelCenter);
                }
                //zum Debuggen
                //console.log('Diagramm Data: ');
                //console.log(model_json);

                //Stellt sicher, dass das Diagramm initialisiert wurde
               //neuesDiagramm = make_dia();

                //läd die Objekttemplates bevor das Modell geladen wird
                neuesDiagramm.model = new go.Model.fromJson(model_json);

        } else {
            console.warn(request.statusText, request.responseText);
        }
    });
    request.send();}

    document.addEventListener("DOMContentLoaded", function() {
make_dia();
    style_dia();
    getDiagramData();});




    </script>



{% endblock content %}
