{% extends "base.html" %}
{% block content %}

    <script type="text/javascript" src="/static/go-debug.js"> </script>

 <div id="pr">
    <h2 id="ueberschrift">Zeit ein eigenes Diagramm zu erschaffen!</h2>
  <p id="ueber1">
    <h5 id="ueber2">Wie wollen sie dieses Modell nennen?</h5>
        <input class="spaeter infoAblegen content-section ml-2"id="derTitel" type="text" placeholder="Modellname" >
        <input type="button" id ="ueber3" class="btn btn-outline-success" value="Diagramm erstellen" onclick="unhide()" >
    </p>
    <p>
        <input class="anfang infoAblegen content-section"id="dieInfo" type="text" placeholder="Hier eingeben!" >
        <input type="button" id ="senderino" class="anfang btn btn-outline-success" value="Ins Diagramm" onclick="addData()" >
    </p>

   <!--
    Test ob ausgelesen wird
    <script>function func() {alert(document.getElementById("nInfo").value)}</script> -->

    <div class="anfang">
        <div id="mainDiagram" class = "Diagram"></div>
    </div>
    <input type="button" id ="savior" class="anfang btn btn-outline-success" value="Diagramm Speichern" onclick="sendData()" >
    <input type="button"  style ="visibility: hidden"id  ="saviore" class=" btn btn-outline-success" value="Diagramm Speichern" onclick="senndData()" >

          <nav>
             <h2>Navigation</h2>
              <ul>
                    <li><a href="https://www.wikipedia.de">Klassische Wissensdarstellung</a></li>
              </ul>
          </nav>
<div>
Hier sollen einmal Informationen abgelegt werden!
</div>

<script type="text/javascript" src={{ url_for('static', filename='save.js') }}> </script>
{% endblock content %}