{% extends "base.html" %}
{% block content %}
  <script type="text/javascript" src={{ url_for('static', filename='DataInspector.js') }}> </script>

    <link rel="stylesheet" href={{ url_for('static', filename='DataInspector.css') }}/>
   <!--script-- type="text/javascript" src="https://cdn.jsdelivr.net/npm/gojs@2.1/release/go.js"> </script-->
        <script type="text/javascript" src={{ url_for('static', filename='go-debug.js') }}> </script>
  <script type="text/javascript" src={{ url_for('static', filename='GeometryReshapingTool.js') }}> </script>

    <script type="text/javascript" src={{ url_for('static', filename='Figures.js') }}> </script>

    <h3 id="ModelName" style = "margin-left: 2px; margin-top:5%; position:relative;"> {{ diagram_name }}

        <input class="btn btn-outline-success"id="dieInfo" type="text" placeholder="Neuer Knoten" style="position:relative;margin-left:10px;" >
        <!--input type="button" id ="senderino" class="btn btn-outline-success" value="neuer Knoten" onclick="addData()" style="position:relative; bottom:-10%;left:52%;"-->

        <input type="search" id="diaSuche" onkeypress="if (event.keyCode === 13) suchFunktion()" class=" btn btn-outline-success"  placeholder="Suchen" style=" position:relative; margin-left: 10px" autocomplete="off">
        <!--input type="button" id ="savior" class=" btn btn-outline-success" value="Suchen" onclick="suchFunktion()" style="position:relative; bottom:-10%;left:30%;"-->
        <input type="button" id ="savior" class=" btn btn-outline-success" value="Speichern" onclick="sendData()"style="position:relative; margin-left: 4%;" >


        <div id="derInspektor" class="inspector" style="position:relative; margin-left: 10%; margin-top: 0px;
bottom:-1vh;">
        </div>

</h3>

    <!--
    Test ob ausgelesen wird
    <script>function func() {alert(document.getElementById("nInfo").value)}</script> -->


        <div>
        <div id="mainDiagram" class = "Diagram" style="position:relative"></div>
    </div>
    <script>

            document.addEventListener("DOMContentLoaded", function() {
                getDiagramData();
                //inspectore();

            });
        </script>



<!--script>
var coll = document.getElementById("inspeg");

  coll.addEventListener("click", function() {
          var content = document.getElementById("derInspektor");
    console.log(content);

    if (content.style.visibility === "hidden") {
      content.style.visibility = "visible";

    } else {
      content.style.visibility = "hidden";
    }
  });
</script-->




    </div>

<script type="text/javascript" src={{ url_for('static', filename='save.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='LinkLabelOnPathDraggingTool.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='DragZoom.js') }}> </script>



{% endblock content %}
