{% extends "base.html" %}
{% block content %}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gojs@2.1/release/go.js"> </script>

        <input class="infoAblegen content-section"id="dieInfo" type="text" placeholder="Hier eingeben!" >
        <input type="button" id ="senderino" class="btn btn-outline-success" value="Ins Diagramm" onclick="addData()" >
    </p>
   <!--
    Test ob ausgelesen wird
    <script>function func() {alert(document.getElementById("nInfo").value)}</script> -->

    <div>
        <div id="mainDiagram" class = "Diagram"></div>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                getDiagramData(); });
        </script>
    </div>
    <input type="button" id ="savior" class=" btn btn-outline-success" value="Diagramm Speichern" onclick="sendData()" >
    <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Zusätzliche Informationen ablegen</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>
    <nav>
        <h2>Navigation</h2>
        <ul>
            <li><a href="https://www.wikipedia.de">Klassische Wissensdarstellung</a></li>
        </ul>
    </nav>
<div>
Hier können Informationen abgelegt werden!
</div>

<script type="text/javascript" src={{ url_for('static', filename='save.js') }}> </script>
{% endblock content %}
