{% extends "base.html" %}
{% block content %}
  <script type="text/javascript" src={{ url_for('static', filename='DataInspector.js') }}> </script>

    <link rel="stylesheet" href={{ url_for('static', filename='DataInspector.css') }}/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gojs@2.1/release/go.js"> </script>
    <h1 id="ModelName"> {{ diagram_name }}</h1>

        <input class="infoAblegen content-section"id="dieInfo" type="text" placeholder="Hier eingeben!" >
        <input type="button" id ="senderino" class="btn btn-outline-success" value="Ins Diagramm" onclick="addData()" >
       <input type="button" id ="savior" class=" btn btn-outline-success" value="Diagramm Speichern" onclick="sendData()" style="position:relative; left:87%;" >

    <!--
    Test ob ausgelesen wird
    <script>function func() {alert(document.getElementById("nInfo").value)}</script> -->

    <div>
            <div id="linkPalette" style="position:absolute; bottom:0vh;left:-16%; height:66vh; width:10vw; background-color:red""></div>


</div>
        <div>
        <div id="mainDiagram" class = "Diagram"></div>
    </div>
    <script>

            document.addEventListener("DOMContentLoaded", function() {
                getDiagramData();
                //inspectore();

            });
        </script>
        <div id="derInspektor" class="inspector" style="position:absolute; bottom:-30%;left:-30%;">
    </div>
    </div>


<div>
Hier können Informationen abgelegt werden!
</div>

<script type="text/javascript" src={{ url_for('static', filename='save.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='LinkLabelOnPathDraggingTool.js') }}> </script>
    <script type="text/javascript" src={{ url_for('static', filename='DragZoom.js') }}> </script>



{% endblock content %}
