body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}
.infoAblegen {
  padding: 10px;
  background-color:#b9c7bb;
  border-radius: 10px;
}

.anfang {
  visibility:hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: lightyellow;
}

.site-header .navbar-nav .nav-link:hover {
  color: whitesmoke;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.sidebar {
  position: absolute;
  right: 4%;
}
.reg {margin-top: -14px;

}

.sign-in {
  margin-bottom:10px;
  margin-left:-8px;
  padding: 8px;
  background-color: #7be08a;
  border:2px solid green;
  border-radius: 4px;

}

.sign-in-btn {
  position: relative;
  left:18%;
}


.content-section {
  background: lightgray;
  padding: 8px;
  border:2px solid mediumseagreen;
  border-radius: 5px;
}

.article-title {
  color: #444444;
}

.form-group {
  font-size: 1rem;
  padding: 0px;
}

.Diagram {
  position:absolute;
  margin-top: 10px;
  left:0%;
  width:98%;
  width:98vw;
  height:79%;
  height: 79vh;
  margin-bottom:0px;
  border:2px solid whitesmoke;
}

